<!DOCTYPE html>
<html lang="es">
<head>
  <!-- CSS Styles -->
  <link rel="stylesheet" type="text/css" href="css/angular-material.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/flag-icon.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <!-- Angular JS resources -->
  <script src='js/Library/angular/angular.js'></script>
  <script src='js/Library/angular-animate/angular-animate.js'></script>
  <script src='js/Library/angular-aria/angular-aria.js'></script>
  <script src='js/Library/angular-material/angular-material.js'></script>
  <script src='js/Library/angular-ui-router/release/angular-ui-router.js'></script>
  <!-- Loading Angular app configuration for Index -->
  <script src='app-state.js'></script>
  <script src="app-credentials.js"></script>
  <script src='appFilters.js'></script>
  <!-- Layout Controller -->
  <script src='layoutController.js'></script>
  <!--  Specific Controllers -->
    <!-- Beatmaps Controllers -->
    <script src='controllers/beatmap/beatmapListingController.js'></script>
    <script src='controllers/beatmap/beatmapDetailController.js'></script>
    <!-- Login Controllers -->
    <script src='controllers/user/loginController.js'></script>
    <!-- Profile Controllers -->
    <script src='controllers/user/myProfileController.js'></script>
    <script src='controllers/user/userProfileController.js'></script>
</head>
<!-- Web Content -->
<body ng-app="app" ng-controller="layoutController">
  <!-- Nav Bar and Container -->
  <div class="navBar">
    <!-- Nav Bar -->
    <md-content ng-cloak="">
      <md-nav-bar nav-bar-aria-label="navigation links" class="md-theme-grey" md-selected-nav-item="currentNavItem">
        <md-button class="md-fab" aria-label="Menu" ng-click="openLeftMenu()">
          <md-icon md-svg-icon="img/icons/ic_menu_white_48px.svg"></md-icon>
        </md-button>
        <md-nav-item md-nav-href="#login" ng-if="USER == null">Login</md-nav-item>
        <md-nav-item md-nav-href="#beatmapListing">Beatmaps</md-nav-item>
      </md-nav-bar>
      <md-content class="md-padding webContent" flex="" layout-padding="" ng-cloak>
        <ui-view>
        </ui-view>
      </md-content>
      <!-- End of View Content -->
    </md-content>
  </div>
  <!-- End of side Nav Bar -->

  <!-- Side nav -->
  <div layout="row">
    <md-sidenav md-component-id="left" class="md-sidenav-left" md-whiteframe="0">
      <!-- Profile -->
      <md-toolbar layout-padding layout="row" class="sideMenuProfileCard">
        <md-card-avatar flex>
            <a href="#myProfile"><img class="profilePicSmall" ng-src='{{USERIMGURL}}{{USER.user_id | userImageFilter}}'></img></a>
          </md-card-avatar>
        <md-card-avatar flex >
          <md-list-item class="md-2-line" mdSelectedNavItem="currentPage">
            <div class="md-list-item-text" layout="column" ng-if="USER != null">
              <h2 class="m-5" data-fittext style="margin:0px;"><strong>{{USER.username}}</strong></h2>
              <span class="flag-icon flag-icon-{{USER.country | lowercase }} m-t-5"></span>
              <p><strong>Level: </strong>{{USER.level | number : 2}}</p>
            </div>
          </md-list-item>
        </md-card-avatar>
      </md-toolbar>
      <!-- end of Profile -->
      <md-content>
        <md-button>Spooky button!</md-button>
      </md-content>
    </md-sidenav>
  </div>
  <!-- End of Side nav -->
</body>
</html>
