<section ng-cloak>
  <!-- User Card -->
  <section layout="row">
    <!-- Image Card -->
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <img class="profilePicSmall" ng-src="{{profileImageURL}}{{User.user_id}}_1462143398.jpg"></img>
          <center class="md-image-no-fill">
            <i class="m-t-10 flag-icon flag-icon-{{User.country | lowercase }}"></i>
            <img class="m-t-5" src="img/support.png"></img>
          </center>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <center>
          <img src="img/icons/standard.gif" alt="STD">
          <img src="img/icons/taiko.gif" alt="STD">
          <img src="img/icons/ctb.gif" alt="STD">
          <img src="img/icons/mania.gif" alt="STD">
        </center>
      </md-card-content>
    </md-card >
    <!-- Detail Card -->
    <md-card flex>
        <!-- User Info Title -->
        <md-card-title>
          <md-card-title-text>
            <md-headline>
              <h1 class="m-0">{{User.username}}</h1>
            </md-headline>
            <md-subhead>
              <b class="m-l-5">Last time seen:</b> Yesterday
            </md-subhead>
          </md-card-title-text>
        </md-card-title>
        <!-- User Status -->
        <md-card-content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consequat elit ut finibus fermentum. Fusce at metus nisl. Sed vestibulum iaculis amet.</p>
        </md-card-content>
        <!-- Mod Status -->
        <section class="mod-status-active">
          <center>Modding Status <strong> Active </strong></center>
        </section>
        <!-- User Actions -->
        <md-card-actions layout="row" layout-align="end center">
          <md-button>
            <md-icon md-svg-src="img/icons/ic_help_White_24px.svg"></md-icon>
            Ask for Mod
          </md-button>
        </md-card-actions>
    </md-card>
  </section>

  <!-- Beatmaps -->
  <section layout="row">
    <section flex>
      <md-card ng->
        <md-card-title>
          <b>Latest Uploaded Beatmaps</b>
        </md-card-title>
        <section ng-if="User.RecentlyUploadedBeatmaps != null">
          <md-card-content  ng-repeat="beatmap in User.RecentlyUploadedBeatmaps">
              <section layout="row" layout-align="center center">
                <section class="m-r-5">
                  <img ng-src="{{bmImageURL}}{{beatmap.beatmapset_id}}.jpg" class="md-card-image" alt="IMG">
                </section>
                <section flex>
                  <b>Title: </b> {{beatmap.title}} | <b>Uploader: </b> {{beatmap.creator}} | <b>Status: </b> {{beatmap.approved | beatMapApprovedStatus}}
                </section>
              </section>
          </md-card-content>
        </section>
        <section ng-if="User.RecentlyUploadedBeatmaps == null">
          <md-card-content >
              <section layout="row" layout-align="center center">
                <b>This user hasn't uploaded any beatmap yet!</b>
              </section>
          </md-card-content>
        </section>
      </md-card>
    </section>
    <!-- Lates Modded BM -->
    <section flex>
      <md-card>
        <md-card-title>
          <b>Latest Modded Beatmaps</b>
        </md-card-title>
        <section ng-if="User.RecentModdedBeatmaps != null">
          <md-card-content  ng-repeat="beatmap in User.RecentModdedBeatmaps">
              <section layout="row" layout-align="center center">
                <section class="m-r-5">
                  <img ng-src="{{bmImageURL}}{{beatmap.beatmapset_id}}.jpg" class="md-card-image" alt="IMG">
                </section>
                <section flex>
                  <b>Title: </b> {{beatmap.title}} | <b>Uploader: </b> {{beatmap.creator}} | <b>Status: </b> {{beatmap.approved |beatMapApprovedStatus}}
                </section>
              </section>
          </md-card-content>
        </section>
        <section ng-if="User.RecentModdedBeatmaps == null">
          <md-card-content >
              <section layout="row" layout-align="center center">
                <b>This user hasn't modded any beatmap yet!</b>
              </section>
          </md-card-content>
        </section>
      </md-card>
    </section>
  </section>
</section>
