<!-- User Card Info -->
<div  layout="row" ng-cloak>
  <!-- User Image -->
  <div layout="column" layour-fill>
    <md-card>
      <md-card-title>
        <md-card-title-media>
          <img class="profilePicSmall" ng-src="{{profileImageURL}}{{User.user_id}}_1462143398.jpg"></img>
          <br>
          <center class="md-image-no-fill">
            <i class="flag-icon flag-icon-{{User.country | lowercase }}"></i>
            <img class="m-t-5" src="img/support.png"></img>
          </center>
        </md-card-title-media>
      </md-card-title>
    </md-card>
    <md-card layout-align="center center">
      <center>
        <md-list-item>
          <img class="m-s-5" src="img/icons/standard.gif" alt="STD">
          <img class="m-s-5" src="img/icons/taiko.gif" alt="STD">
          <img class="m-s-5" src="img/icons/ctb.gif" alt="STD">
          <img class="m-s-5" src="img/icons/mania.gif" alt="STD">
        </md-list-item>
      </center>
    </md-card>
  </div>
  <!-- User Info -->
  <div layout="row" flex="100">
    <md-card>
      <!-- Userd Info Title -->
      <md-card-title>
        <md-card-title-text>
          <md-headline>
            <h1 class="m-5">{{User.username}}</h1>
          </md-headline>
        </md-card-title-text>
      </md-card-title>
      <!-- User Description -->
      <md-card-content hide-xs>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis, magna sit amet feugiat accumsan, libero mauris commodo ligula, id egestas mi elit nec dolor. Pellentesque placerat consectetur magna eget pretium. Nunc in suscipit eros. Integer sodales placerat arcu sit amet faucibus. Pellentesque commodo nec leo at rhoncus. Nam dictum, nulla ut luctus convallis, arcu nunc dapibus enim, quis ornare nunc nibh vel lacus.</p>
      </md-card-content>
      <!-- Mod Status -->
      <div class="mod-status-active">
        <center>Mod Status <strong> Active </strong></center>
      </div>
      <!-- User Actions -->
      <md-card-actions layout="row" layout-align="end center">
        <md-button>
          <md-icon md-svg-src="img/icons/ic_help_White_24px.svg"></md-icon>
          Ask for Mod
        </md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<!-- End of user Card -->
