<center><h1>Latest Beatmaps</h1></center>
<section ng-cloak layout="row" layout-wrap layout-align="center center">
  <md-card style="width:550px; height:230px;" ng-repeat="beatmap in LatestBeatmaps">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><strong>{{beatmap.title}}</strong></span>
        <span class="md-subhead"><strong>Artist:</strong> {{beatmap.artist}}</span>
        <md-list-item class="md-2-line">
          <section class="md-list-item-text" layout="column">
            <p><strong>Creator:</strong> {{beatmap.creator}}</p>
            <p><strong>BPM: </strong>{{beatmap.bpm}}</p>
            <p><strong>Length: </strong>{{beatmap.total_length | secondsToDateTime | date:'HH:mm:ss'}}</p>
            <p><strong>Status: </strong>{{beatmap.approved | beatMapApprovedStatus}}</p>
            <p><strong>Last update: </strong>{{beatmap.last_update | date:'yyyy-MM-dd HH:mm'}}</p>
          </section>
        </md-list-item>
      </md-card-title-text>
      <section class="beatmapImageContainer">
          <img ng-src="{{bmImageURL}}{{beatmap.beatmapset_id}}l.jpg" class="md-card-image beatmapImageLarge" alt="BM IMAGE">
      </section>
    </md-card-title>
  </md-card>
</section>
