<center><h1>Latest Beatmaps</h1></center>
<div ng-cloak layout="row" layout-wrap layout-align="center center">
  <md-card style="width:550px;" ng-repeat="beatmap in LatestBeatmaps">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline"><strong>{{beatmap.title}}</strong></span>
        <span class="md-subhead"><strong>Artist:</strong> {{beatmap.artist}}</span>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" layout="column">
            <p><strong>Creator:</strong> {{beatmap.creator}}</p>
            <p><strong>BPM: </strong>{{beatmap.bpm}}</p>
            <p><strong>Length: </strong>{{beatmap.total_length | secondsToDateTime | date:'HH:mm:ss'}}</p>
            <p><strong>Status: </strong>{{beatmap.approved | beatMapApprovedStatus}}</p>
          </div>
        </md-list-item>
      </md-card-title-text>
      <img ng-src="{{bmImageURL}}{{beatmap.beatmapset_id}}l.jpg" class="md-card-image beatmapImageLarge" alt="BM IMAGE">
    </md-card-title>
    <md-card-content>
      <p>
        This is a filler text, it should have the beatmaps description, it also should have a expandable section in case if it is way too big.
      </p>
    </md-card-content>
  </md-card>
</div>
